<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnString" providerName="System.Data.SqlClient" connectionString="SERVER=127.0.0.1\SQLEXPRESS;UID=tester;PWD=testing;DATABASE=mediachannel" />
  </connectionStrings>
  <appSettings>
    <add key="YoutubeProjectName" value="Earnings API" />
    <add key="YoutubeCustomerOwnerId" value="mruLyFmPbuFncZmkTtmBMg" />
    <add key="YoutubeJsonOAuthFile" value="c:/LatestSightingsService/client_secret_5349507435512.json" />
    <add key="emailFromAddress" value="latestsightings@socialengine.co.za" />
    <add key="emailToAddress" value="soulunavailable@gmail.com" />
    <add key="emailHost" value="freeza.aserv.co.za" />
    <add key="emailUser" value="fbmailer@socialengine.co.za" />
    <add key="emailPassword" value="FBM@il3r" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
